# Pour le développement local avec SQLite, laissez cette ligne commentée.
# Pour la production avec PostgreSQL, fournissez la chaîne de connexion complète.
# DATABASE_URL=postgresql://user:password@host:port/dbname

# Identifiants du Super Admin initial
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=strongpassword

# Clé secrète JWT
JWT_SECRET_KEY=votre-cle-secrete-ici
